<link rel="stylesheet" href="/css/employeesection.css">

<div id="main-div">
    <h1>All Employees List</h1>
    <hr>
    <div id="headings">
        <p>Name</p>
        <p>Email</p>
        <p>Password</p>
        <p>Permission</p>
    </div>
    <hr>

    <%for(let user of users){%>

    <form action="/employee/update/<%=user.id%>" method="POST">
            <input type="text" name="name" placeholder="Name" value="<%=user.name%>" required>
            <input type="email" name="email" placeholder="Email" value="<%=user.email%>" required>
            <input type="text" name="password" placeholder="Password" value="<%=user.password%>" required>
            <input type="text" name="permission" placeholder="Permission" disabled  value="<%=user.permission%>" required>
            <button type="submit">Update</button>
            <button type="button"><a href="/employee/delete/<%=user.id%>">Delete</a></button>
            <% if (user.permission === 'admin') { %>
                <button type="button">
                    <a href="/employee/removeadmin/<%=user.id%>">Remove Admin</a>
                </button>
            <% } else { %>
                <button type="button">
                    <a href="/employee/makeadmin/<%=user.id%>">Make Admin</a>
                </button>
            <% } %>
            
            
    </form>
    <%}%>
   
</div>